.login_container {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
    height: 100vh !important
}

.spin{
    height: "30px" !important
}

.cridential_error {
    font-size: 17px;
    color: red;
}

.login_container {
    height: 40px
}

.logo_container{
    width: 100%;
}

.logo {
    width: 280px !important;
    position: relative !important
}

.ant-alert-message {
    display: flex !important;
}

.alert_message {
    display: flex !important;
}

.ant-form-item-control-input-content {
    display: flex !important;
}

.remember_me_container {
    display: flex;
}

.remember_me{
    display:flex ;
    width: 100%;
}

@media only screen and (max-width: 1500px) {
    .form_container{
        display: flex;
        width: 41%;
    }
}
@media only screen and (max-width: 1350px) {
    .form_container{
        display: flex;
        width: 45%;
    }
}
@media only screen and (max-width: 940px) {
    .form_container{
        display: flex;
        width: 57%;
    }
}
@media only screen and (max-width: 730px) {
    .form_container{
        display: flex;
        width: 77%;
    }
}





