.dashboard_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;

    
}
.bar_doughnut_continer{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.lineBar_container {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

